VITE_STORE_API_URL=https://api.thessarasemijoias.com.br/store
VITE_PIX_KEY=22644620783
VITE_PIX_MERCHANT_NAME=THESSARA
VITE_PIX_MERCHANT_CITY=SAO PAULO
VITE_STRIPE_PUBLIC_KEY=pk_test_xxxxx
VITE_SITE_URL=https://thessarasemijoias.com.br
